<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ZXFont.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ZXFont.Properties.Settings>
            <setting name="X" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Splitter" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="Hex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Grid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ink" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Paper" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TestString" serializeAs="String">
                <value>Hello world!</value>
            </setting>
            <setting name="BorderTop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderTopP" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BorderLeft" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderRight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderBottom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Borders" serializeAs="String">
                <value>False</value>
            </setting>
        </ZXFont.Properties.Settings>
    </userSettings>
</configuration>
